<div class="w-full lg:w-3/4 mx-auto p-4">
    {{ with site.GetPage "/about" }}
    <article class="card bg-base-100 shadow-xl dark:border dark:border-base-content/30 mb-8">
        <div class="card-body">
            <div class="card-title text-2xl mb-4">{{ .Title }}</div>

            <div class="prose dark:prose-invert max-w-none">
                {{ .Content | emojify }}
            </div>
        </div>
    </article>
    {{ end }}

    {{ if (fileExists "data/socials.toml") }}
    <div class="w-full p-4">
        <article class="card bg-base-100 hover:bg-base-content/10 shadow-xl dark:border dark:border-base-content/30">
            <div class="card-body">
                <div class="card-title">{{ T "socialLinks" }}</div>
                {{ partialCached "socials.html" . }}
            </div>
        </article>
    </div>
    {{ end }}

    {{ if and site.Config.Services.Disqus.Shortname .IsHome }}
    <div class="w-full p-4">
        <article class="card bg-base-100 shadow-xl dark:border dark:border-base-content/30">
            <div class="card-body">
                {{ partial "disqus.html" (dict "Context" . "Identifier" "/") }}
            </div>
        </article>
    </div>
    {{ end }}
</div>